
AETHERION_AGENT_TASK_QUEUE=aetherion-workflows-ae45ce42-359c-417f-aca8-92868fca5be6
AETHERION_TOOL_TASK_QUEUE=aetherion-activities-ae45ce42-359c-417f-aca8-92868fca5be6

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1
